html, body {
    margin : 0;
    padding: 0;
}

@font-face {
    font-family: "outfit";
    src: url("assets/fonts/Outfit-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}


header {
    height: 200px;
}

#btnplacement {
    position: relative; 
    display: inline-block; 
    width: 100%;
}

.picture img {
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
  border-radius: 35px;
  display: block;
}


.content-overlay {
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translate(0%, -50%);
    
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

#picturesentence {
    font-family: "outfit", sans-serif;
    color: #071726;
    font-size: 40px;
    font-weight: 900;
}

#downloadbtn {
    width: 400px;
    height: 50px;
    background-color: #071726;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#downloadbtn span {
    font-family: "outfit", sans-serif;
    color: white;
}


#btnplacement img {
    padding: 16px;
}