html, body {
    margin : 0;
    padding: 0;
}

@font-face {
    font-family: "outfit";
    src: url("assets/fonts/Outfit-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

p {
    font-family: "outfit", sans-serif;
}